{% extends "layout.html" %}

{% block body %}
<style>
	.login{
		max-width: 500px;
		margin: auto;
		padding: 20px;
		/*border: solid 1px blue;*/
		}
</style>
<div class="">
	{{errMSG}}
	<form method="POST">
	<div class="row">
	  <div class="form-group col-md-6 col-sm-12">
		<label for="nom">Nom</label>
		<input type="text" name="nom" class="form-control" id="nom" aria-describedby="nomHelp" placeholder="Nom de famille" required >
		<small id="nomHelp" class="form-text text-muted">Veuillez entrer votre nom.</small>
	  </div>
	  <div class="form-group col-md-6 col-sm-12">
		<label for="prenom">Prenom</label>
		<input type="text" name="prenom" class="form-control" id="prenom" aria-describedby="prenomHelp" placeholder="Prenoms" required >
		<small id="prenomHelp" class="form-text text-muted">Veuillez entrer votre prenom.</small>
	  </div>
	  <div class="form-group col-md-6 col-sm-12">
		<label for="code">Code</label>
		<input type="text" name="code" class="form-control" id="code" aria-describedby="codeHelp" placeholder="Code utilisateur" required >
		<small id="codeHelp" class="form-text text-muted">Veuillez entrer votre code.</small>
	  </div>
	  <div class="form-group col-md-6 col-sm-12">
		<label for="email">Email</label>
		<input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Votre adresse email" required >
		<small id="emailHelp" class="form-text text-muted">Veuillez entrer votre Email.</small>
	  </div>
	  <div class="form-group col-md-6 col-sm-12">
		<label for="adresse">Adresse</label>
		<input type="text" name="adresse" class="form-control" id="adresse" aria-describedby="adresseHelp" placeholder="Adresse Postale" required >
		<small id="adresseHelp" class="form-text text-muted">Veuillez entrer votre Adresse.</small>
	  </div>
	  <div class="form-group col-md-6 col-sm-12">
		<label for="niveau">Niveau</label>
		<select name="niveau" class="form-control">
			<option value="00">N/A</option>
			<option value="01">1ere Annee</option>
			<option value="02">2eme Annee</option>
			<option value="03">3eme Annee</option>
			<option value="04">4eme Annee</option>
			<option value="05">5eme Annee</option>
		</select>
		<small id="niveauHelp" class="form-text text-muted">Veuillez choisir votre niveau.</small>
	  </div>
	  <div class="form-group col-md-6 col-sm-12">
		<label for="telephone">Numero de telephone</label>
		<input type="text" name="telephone" class="form-control" id="telephone" aria-describedby="telephoneHelp" placeholder="Numero de telephone" required >
		<small id="telephoneHelp" class="form-text text-muted">Veuillez entrer votre telephone.</small>
	  </div>
	 <div class="form-group col-md-6 col-sm-12">
		<button type="submit" name="mysubmit" value="mysubmit" class="btn btn-primary btn-block">ADD Person</button>
                <p class="text-center mt-3"><a href="/subscribe">Inscription</a></p>
        </div>
	  </div>
	</form>
</div>
{% endblock body %}

